@tailwind base;
@tailwind components;
@tailwind utilities;

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell.sunk::after {
  content: "X";
  font-size: 20px;
  color: black;
}
